/*declaration ng variable para quickie lang mag palit ng kulay :3 */
:root {
    --buttonclr: #514036;
    --moreinfo: #c7b198;
    --bigpp: 514036;
    --drpshadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* box-sizing */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--moreinfo);
}

body {
    background: #f0ece3;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--moreinfo);
    color: var(--bigpp);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
}



.meinmenu ul{
    
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.meinmenu a {
  background: var(--buttonclr);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--moreinfo);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--drpshadow);
}
.meinmenu a:hover {
  background: var(--moreinfo);
  color: var(--bigpp);
}
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'emaninfoo emaninfoo top-box-a'
    'emaninfoo emaninfoo top-box-b';
}
.emaninfoo {
  grid-area: emaninfoo;
  min-height: 400px;
  background: url(cover.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:space-between;
  box-shadow: var(--drpshadow);
}

.emaninfoo h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--bigpp);
}

.emaninfoo p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--bigpp);
}
.top-box {
  background: var(--buttonclr);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--drpshadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--buttonclr);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--drpshadow);
}
.wips {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.wips img {
  width: 100%;
  box-shadow: var(--drpshadow);
}
footer {
  margin-top: 2rem;
  background: var(--moreinfo);
  color: var(--bigpp);
  text-align: center;
  padding: 1rem;
}

@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'emaninfoo emaninfoo'
      'top-box-a top-box-b';
  }

  .emaninfoo h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}





@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'wips'
      'top-box-a'
      'top-box-b';
  }
}
.rindescrip{
    text-align: left;
}


.emaninfoo p{
    position: relative;
    right: 0px;
  
}